{% extends 'base.html' %}

{% block content %}

    <div class="page-title-container">
        <span class="page-title">Julian's Projects</span>
    </div>

    <div class="project-items">
        {% for project in projects %}
            <a href="{{ project.url }}" target="_blank" style="color: black">
                <div class="project-item">
                    <img class="project-item-image" src="{{ project.image.url }}" alt="{{ project.image.name }}">
                    <div class="project-item-content">
                        <h2>{{ project.title }}</h2>
                        <h4>Click to View</h4>
                        <h3 class="project-item-description">{{ project.description }}</h3>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}