{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Julian's Portfolio</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <div class="navbar">
        <ul class="nav-items">
            <li class="nav-link">
                <a href="{% url 'home' %}">Home</a>
            </li>

            <li class="nav-link">
                <a href="{% static 'img/resume.pdf' %}" target="_blank">Resume</a>
            </li>

            <li class="nav-link">
                <a href="{% url 'blog:all_blogs' %}">Blog</a>
            </li>
        </ul>
    </div>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>